<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosc.txx.dao.AccountMapper">

    <select id="selectByAccountIdForUpdate" parameterType="string" resultMap="AccountMap">
        SELECT id, account_id, user_id, account_type, balance, deleted, created_by, created_time, update_time
        FROM account
        WHERE account_id = #{accountId}
        FOR UPDATE
    </select>

    <select id="selectByAccountId" parameterType="string" resultMap="AccountMap">
        SELECT id, account_id, user_id, account_type, balance, deleted, created_by, created_time, update_time
        FROM account
        WHERE account_id = #{accountId}
    </select>

</mapper>
