<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosc.txx.dao.BenefitCodeMapper">

    <select id="listAllBenefitCodes" resultType="com.bosc.txx.model.dto.benefitcode.ListAllBenefitCodeDTO">
        SELECT
        u.name as userName,
        a.account_id,
        b.id as benefit_id,
        b.name as benefit_name,
        CASE c.status
        WHEN 'VALID' THEN 1
        ELSE 0
        END as status,
        c.code,
        c.exp_date
        FROM benefit_code c
        LEFT JOIN benefit b ON c.benefit_id = b.id
        LEFT JOIN user u ON c.user_id = u.id
        LEFT JOIN account a ON u.id = a.user_id
    </select>

    <!-- 根据 userId 分页查询兑换码 -->
    <select id="listByUserIdPage" resultType="com.bosc.txx.model.dto.benefitcode.ListAllBenefitCodeDTO">
        SELECT
        u.name as userName,
        a.account_id,
        b.id as benefit_id,
        b.name as benefit_name,
        CASE c.status
        WHEN 'VALID' THEN 1
        ELSE 0
        END as status,
        c.code,
        c.exp_date
        FROM benefit_code c
        LEFT JOIN benefit b ON c.benefit_id = b.id
        LEFT JOIN user u ON c.user_id = u.id
        LEFT JOIN account a ON u.id = a.user_id
        WHERE c.user_id = #{userId}
    </select>

    <select id="queryByUserNamePage" resultType="com.bosc.txx.model.dto.benefitcode.ListAllBenefitCodeDTO">
        SELECT
        u.name as userName,
        a.account_id,
        b.id as benefit_id,
        b.name as benefit_name,
        CASE c.status
        WHEN 'VALID' THEN 1
        ELSE 0
        END as status,
        c.code,
        c.exp_date
        FROM benefit_code c
        LEFT JOIN benefit b ON c.benefit_id = b.id
        LEFT JOIN user u ON c.user_id = u.id
        LEFT JOIN account a ON u.id = a.user_id
        WHERE u.name LIKE CONCAT('%', #{userName}, '%')
    </select>

</mapper>
